ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: none;
    position: sticky;
}
li {
    display: inline;
    padding: 8%;
    font-size: x-large;
    color:aliceblue;
}

.font-link {
    font-family: 'Diphylleia', serif;
}
