.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#page-0 {

  background-color: #97a366;
  color: white;
  height: 75%;
  margin-top: 10%;

}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  size-adjust: 100%;
}

#name-logo{
 font-size: 50px;
}

.font-link {
  font-family: 'Meddon', cursive;
}

#name{
  text-align: center;
  position: fixed;
  left: 50%;
  top: 36px;
  color: Black;
  font-size:200%;
}

#last-name{
  text-align: left;
  position: fixed;
  left: 60%;
  top: 43px;;
  font-size: 120%;
}

.font-style{
  font-family: 'Meddon', cursive;
  font-family: 'Raleway', sans-serif;
}